// Alert Component Stylesheet
// ========================================

.alert {
  display: flex;
  justify-content: space-around;

  &--error {
    @include alert($pink, $white);
    padding: 5%;
    max-width: 60%;
    border-radius: 10%;
  }

  &--success {
    @include alert($green, $black);
    padding: 5%;
    max-width: 60%;
    border-radius: 10%;
  }

  &--notification {
    border: 1px solid $blue;
    padding: 5%;
    max-width: 60%;
    border-radius: 10%;
  }
}
