// Chip Component Stylesheet
// ========================================
.chip {
  display: flex;
  align-items: center;
  width: 320px;
  margin: 2% auto 1%;
  &_avatar {
    color: $black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 1%;
    width: 100px;
    min-width: 50px;
    height: 100px;
    background-image: url("../images/headshot.png")center center no-repeat;
    background-size: cover;
    }
  &_text {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &_text-title {
    font-weight: bold;
  }
}
