.loginnav {
  margin-top: -50px;
  h6 {
    font-size: .65rem;
  }
}
.modal {
  position: relative;
  width: 50%;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color: $grey;
  color: $black;
  padding: 1%;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: none;
  &_close {
    align-self: flex-end;
    width: 4%;
  }
  &_header {
    margin-bottom: 15px;
    float: left;
  }
  &_action-list {}
  &_item {
    display: inline-flex;
    justify-content: space-around;
  }
  &_input {
    display: block;
    margin: 1%;
  }
  &-active {
      opacity: 1;
      visibility: visible;
      display: inline-flex;
  }
}
