// Colors Variables Settings Stylesheet
// ========================================

$purple: #918CD3;
$blue: #42A5D1;
$grey: #E2E2E2;
$green: #42F8D1;
$pink: #E38CD3;
$black: #352F29;
$white: #E2FAF2;
$darkgrey: #78716B;

// Main Palette List
$colors: (
  'black':    $black,
  'blue':     $blue,
  'green':    $green,
  'pink':     $pink,
  'purple':   $purple,
  'grey':     $grey,
  'white':    $white,
  'darkgrey': $darkgrey
);
