// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Carter One', cursive;
$secondary-font: 'Montserrat', sans-serif;

// Text Colors Map
$type-colors: (
  'black':     ( black ),
  'darkgrey':      ( darkgrey ),
  'white':     ( white ),
);

//weight
$weight: bold;
