body {
  background-color: $white;
}

.header {
  background-color: $purple;
  &_img {
    width: 20%;
    float: left;
  }
  &_title {
    padding-bottom: 2%;
    margin-left: 30%;
  }
}

.nav {
  background-color: $purple;
  color: $white;
  font-family: $secondary-font;
  &_list {
    text-align: center;
    &-item {
      display: inline;
      margin: 2%;
    }
  }
}

.main {
  padding: $spacer-m;
  &__section {
    margin: $spacer-lg $reset-0;
  }
}

.colors {
  display: inline-flex;
  font-family: $secondary-font;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  &-blue {
    background-color: $blue;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-purple {
    background-color: $purple;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-grey {
    background-color: $grey;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-green {
    background-color: $green;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-pink {
    background-color: $pink;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-black {
    background-color: $black;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-darkgrey {
    background-color: $darkgrey;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
  &-white {
    background-color: $white;
    height: 200px;
    width: 200px;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid $black;
  }
}
.item-container {
    margin: $spacer-m $reset-0;
}

.main {
  font-weight: normal;
  &-intro {
    text-align: center;
    &_img {
      display: none;
    }
    &_text {
      background-image: url("../images/florence_cathedral.jpg");
      height: 300px;
      line-height: 130%;
      padding: 2%;
    }
  }
  &_how {
    margin-top: 5%;
    display: flex;
    &-text {
      width: 70%;
      padding: 4%;
    }
    &-img {
      width: 20%;
      float: right;
      &_mockup {
        width: 100%;
      }
    }
  }
  &_list {
    &-item {
      list-style-type: decimal;
    }
  }
  &-about {
    text-align: center;
    &_img {
      display: none;
    }
    &_text {
      background-image: url("../images/florence_cathedral.jpg");
      height: 300px;
      line-height: 130%;
      padding: 2%;
    }
}

.layer {
  padding: 13% 0 13%;
  background-color: rgba(128, 128, 128, 0.7);
}

//min-width: 500px
  //&_section {
    //&-introimg {
          //display: inline-block;
      //  width: 50%;
    //  }
    //  &-introtext {
        //float: right;
        //text-align: center;
        //width: 50%;
    //  }
  //  }
//}

//.layer {
//  display: none;
//}
