@mixin font-type($type, $style, $weight) {
  font-family: $type;
  font-style:  $style;
  font-weight: $weight;
}


@each $name, $tones in $type-colors {
  $tone-color: nth($tones, 1);

  .text--#{$name} {
    color: $tone-color;
  };
}
